* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* #region task1 */

ul, li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.h2-task-1 {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;

}

#categories {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
  padding: 24px;
  width: 440px;
  height: 888px;
}

.task-1-ul {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.task-1-li {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

.item {
  width: 392px;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
}
/* #endregion task1 */

/* #region task2 */

.gallery{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.gallery-item img{
  width: 360px;
  height: 300px;
}
/* #endregion task2 */