* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  margin: 0;
}

/* #region task1 */
.h2-task-1 {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;

}

#categories {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
  padding: 24px;
  width: 440px;
  height: 888px;
}

.task-1-ul {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.task-1-li {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

.item {
  width: 392px;
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
}
/* #endregion task1 */

/* #region task2 */

.gallery{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.gallery-item img{
  width: 360px;
  height: 300px;
}
/* #endregion task2 */

/* #region task3 */
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

#name-output, .task-3-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #c479be;
  margin-top: 16px;
}


#name-input::placeholder {
    color: #c9a2c4;
}

#name-input:focus {
  border: 2px solid #ff04c0;
}
/* #endregion task3 */

/* #region task4 */
.login-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  padding: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fff;
}

 .label-field{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.label-field:nth-last-of-type(1) {
  margin-bottom: 0;
}

.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form input:focus {
  outline: none;
  border: 1px solid #000;
}

.login-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 16px;
}

.login-form button:hover {
  background-color: #6c8cff;
}
/* #endregion task4 */

/* #region task5 */
.widget{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.widget-text, .color{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color{
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
}

.change-color:hover{
  background-color: #6c8cff;
};
/* #endregion task5 */